<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc" xmlns:flex="http://www.springframework.org/schema/flex" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xsi:schemaLocation="
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/flex 
		http://www.springframework.org/schema/flex/spring-flex-1.0.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing infrastructure -->

	<!-- Enables the Spring MVC @Controller programming model -->
	<annotation-driven />

	<!-- <flex:message-broker /> -->

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
	<resources mapping="/js/**" location="/js/" />
	<resources mapping="/css/**" location="/css/" />
	<resources mapping="/images/**" location="/images/" />
	<resources mapping="/themes/**" location="/themes/" />
	<resources mapping="/tempFile/**" location="/tempFile/" />

	<view-controller path="/" view-name="/login" />

	<!-- Resolves views selected for rendering by @Controllers to .ftl resources in the /WEB-INF/views directory -->
	<beans:bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<beans:property name="prefix" value="" />
		<beans:property name="requestContextAttribute" value="application" />
		<beans:property name="suffix" value=".ftl" />
		<beans:property name="contentType" value="text/html;charset=UTF-8" />
	</beans:bean>

	<beans:bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<beans:property name="templateLoaderPath" value="/WEB-INF/views/" />
		<beans:property name="freemarkerSettings">
			<beans:props>
				<beans:prop key="locale">zh_CN</beans:prop>
				<beans:prop key="default_encoding">UTF-8</beans:prop>
				<beans:prop key="number_format">0.##########</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>

	<!-- controller scanning -->
	<context:component-scan base-package="com.summer.sys.action" />

	<!-- convert to json -->
	<beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<beans:property name="messageConverters">
			<beans:list>
				<beans:ref bean="jsonConverter" />
			</beans:list>
		</beans:property>
	</beans:bean>

	<beans:bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<beans:property name="supportedMediaTypes" value="application/json" />
	</beans:bean>

	<beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<beans:property name="maxUploadSize" value="104857600" />
		<beans:property name="maxInMemorySize" value="4096" />
		<beans:property name="defaultEncoding" value="utf-8" />
	</beans:bean>
	<!-- <mvc:interceptors> -->
	<!-- <mvc:interceptor> -->
	<!-- <mvc:mapping path="/*" /> -->
	<!-- <beans:bean class="com.summer.sys.interceptor.UserRequestInterceptor" /> -->
	<!-- </mvc:interceptor> -->
	<!-- </mvc:interceptors> -->
</beans:beans>
